footer .container {
    @include my-flex(space-between, flex-start);
}
footer {
    padding-top: $padding_section;
    padding-bottom:  $padding_section;
}
.descrizione {
    width: 30%;
}

.footer-link {
    width: calc(70% / 5);
}
.footer-link li a {
    margin-top: 10px;
    padding: 0;
}
