.header-wrapper {
    height: $height_header;
}
.header-wrapper .container {
    border-bottom: 1px solid $colore_principale_testo;
    @include my-flex(space-between, center);
}
// .container {
//     @include my-flex(space-between, center);
// }
.header-left {
    height: $height_header;
    @include my-flex(space-between, center);
}
.header-left .logo a {
    font-size: 25px;
}
.header-right {
    height:$height_header;
    @include my-flex(space-around, center);
}
a {
    font-size: $header_link_size;
}
.button {
    background-color: white;
    border: 1px solid $colore_principale_button;
    color:$colore_principale_button;
    font-weight: bold;
}
.button img {
    width: 14px;
}
.logo img {
    margin-right: 10px;
}
