section {
    color: $colore_principale_testo;
    padding-top:$padding_section;
    padding-bottom:$padding_section;

}
section .container {
    @include my-flex(center, center);
}
section .titolo {
    text-align: center;
}
// .jumbotron .content {
//     float: left;
//     width: 50%;
// }
.jumbotron h1 {
    font-size: 50px;
}
.jumbotron p {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
// .jumbotron .immagine {
//     float: left;
//     width: 50%;
// }
.jumbotron button {
    background-color: $colore_principale_button;
    color: white;
}
.jumbotron button:hover {
    background-color: #233569;
}
.immagine img {
    max-width: 100%;
    height: auto;
}
.content a {
    padding-left: 0;
}
