$width_container: 1150px;
$height_header: 80px;
$colore_principale_testo: rgb(88, 64, 44);
$header_link_size: 14px;
$padding_link: 0 10px;
$padding_button: 10px;
$font-family: sans-serif;
$colore_principale_button:  #30488F;
$padding_section: 100px;
$background_pink: #ffe7d2;
$height_figure: 200px;
$width_figure: 320px;
